@charset "ISO-8859-1";

body {
    display: block;
    margin: 0px;
}


.column1 {
	float: left;
	width: 30%;
	height:100vh;
	background: linear-gradient(31.75deg, #845EC2 -1.86%, #2C73D2 44.37%, #00A4DE 97.18%);
}

.column2 {
	float: left;
	margin-left: auto;
    margin-right: auto;
	width: 70%;
	height:100vh;
}

img {
    max-width: 1280px;
    max-height: 720px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


