<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>AInimals</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>

         <div class="row">
         	
	         <!--  Div LEFT SIDE -->
	         <div class="column2"> 
	         	<div id="object1"><h1>Active Learner</h1></div>
	         </div>
									 
	
	         <!--  Div RIGHT SIDE  -->
	         <div class="column1">
	         	<h2>Plus d'images</h2> 
	 		</div>	
	 		
	 	</div>
   </body>
   
</html>

