<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>AInimals</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>

         <div class="row">
	         <!--  Div LEFT SIDE -->
	         <div class="column2"> 
	         	<div id="object1"><h1>Active Learner</h1></div>
	         	
    			<img class="d-block w-100" th:src="@{${'/shared/' + photo}}" alt="@{${photo}}">
	         </div>
	         
	         <!--  Div RIGHT SIDE  -->
	         <div class="column1" layout:fragment="content">
	         	<h2>Choisissez les labels pour vos images</h2>
				<div>
				<ul>
				    <li th:each="label: @{${labels}}">
				        <span th:text="${label}">${label}</span>
				        <input type="submit" value="Done">
				    </li>
				</ul>
				</div>
	 		</div>	
	 	</div>
   </body>
   
</html>

